.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
}

.profile__hello {
  font-size: 24px;
  font-weight: 500;
  margin: 74px 0 106px;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 410px;
}

.profile__subtitle {
  height: 14px;
  font-size: 11px;
  font-weight: 500;
  margin: 17px 0 0;
}

.profile__field {
  height: 14px;
  font-size: 11px;
  font-weight: 400;
  text-align: right;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  margin: 16px 0 0;
}

.profile__field:focus {
  border-bottom: 1px solid #aaa;
}

.profile__field::placeholder {
  color: black;
}

.profile__field_error {
  display: block;
  margin-top: 189px;
  min-height: 11px;
}

.profile__field_error_active {
  color: #ff004c;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  margin-top: 189px;
}

.profile__content:first-child {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
}

.profile__btn {
  margin: 220px 0 0;
  border: none;
  background-color: transparent;
  font-size: 13px;
  text-align: center;
  color: black;
}

.profile_savebtn_active {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: #000;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: 134px 0 16px;
}

.profile_savebtn {
  background-color: #f8f8f8;
  color: #c2c2c2;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #f8f8f8;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 16px;
}

.profile__signoutbtn {
  margin: 16px 0 70px;
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: #ff4062;
}

@media screen and (max-width: 770px) {
  .profile__hello {
    margin: 236px 0 80px;
  }

  .profile__btn {
    margin: 210px 0 0;
  }
}

@media screen and (max-width: 440px) {
  .profile__content {
    width: 260px;
  }

  .profile__hello {
    margin: 70px 0 63px;
  }

  .profile__btn {
    font-size: 12px;
    margin: 379px 0 0;
  }

  .profile__signoutbtn {
    font-size: 12px;
    margin: 16px 0 40px;
  }
}
