.searchform__bar {
  width: 100%;
  border: 1px solid #f9f9f9;
  border-radius: 50px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 22px;
}

.searchform__input {
  border: none;
  outline: none;
  background-color: #f9f9f9;
  width: 100%;
  margin-left: 22px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #a0a0a0;
}

.searchform__input:focus {
  min-height: 40px;
  border-bottom: 2px solid #a0a0a0;
}

.searchform__btn {
  width: 40px;
  height: 34px;
  background-image: url(../../images/find.png);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  margin-right: 6px;
  padding: 0;
  background-size: cover;
}
