.promo {
  max-width: 100%;
  padding: 75px 70px;
  background-color: #F3C1F8;
  min-height: 425px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
  
.promo__text{
  display: flex;
  flex-direction: column;
}
  
.promo__title {
  width: 640px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0 0 36px 0;
}
  
.promo__subtitle {
  width: 310px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
    opacity: 0.5;
    margin: 0 0 146px 0;
  }
  
.promo__link {
   width: 129px;
    height: 36px;
    background-color: #F3C1F8;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .promo__img {
    width: 310px;
    height: 304px;
  }
  
@media screen and (max-width: 1140px) {
    .promo__title {
      width: 680px;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
    }
    
    .promo__subtitle {
      width: 260px;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
    }
 }
  
  @media screen and (max-width: 1065px) {
    .promo {
      padding: 140px 0 75px;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
    }
   
  .promo__text {
    align-items: center;
  }
  
  .promo__title {
    margin: 48px 0 22px 0;
  }
  
  .promo__subtitle {
    margin-bottom: 92px;
  }
      
  }
  
  @media screen and (max-width: 699px) {
    .promo__title {
      width: 300px;
      font-size: 30px;
      line-height: 38px;
      letter-spacing: -1.2px;
    }
  }
  
  @media screen and (max-width: 340px) {
    .promo__subtitle {
      margin-bottom: 80px;
    }

    .promo__img {
      width: 210px;
      height: 206px;
    }
  
    .promo {
      padding: 70px 0 30px;
    }
  
  }