.searchform {
  margin: 0 auto;
  max-width: 1140px;
  width: calc(100% - 60px);
}

.searchform__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
  margin: 60px auto 10px;
}

.searchform__line {
  width: calc(100% - 20px);
  border: 1px solid #e8e8e8;
  margin: 0;
}
.searchform__error {
  font-family: "Inter", Arial, sans-serif;
  display: block;
  color: #ff4062;
  padding: 0;
  text-align: center;
  margin: 10px 0 0;
  font-size: 20px;
  min-height: 22px;
}

@media screen and (max-width: 770px) {
  .searchform {
    width: calc(100% - 45px);
  }

  .searchform__form {
    margin: 80px auto 10px;
  }
}

@media screen and (max-width: 500px) {
  .searchform {
    width: 100%;
  }
}
