.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 140px);
  height: 74px;
  padding: 18px 70px 0;
}

.header__violet {
  background-color: #f3c1f8;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link_signup {
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  margin-right: 30px;
}

.header__link_signin {
  display: block;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #000;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  text-align: center;
}

.header__navbar {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .header {
    padding: 18px 30px 0;
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 350px) {
  .header {
    padding: 18px 14px 0;
    width: calc(100% - 28px);
  }
}
