.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.navbar__movie {
  text-decoration: none;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-right: 16px;
}

.navbar__movie_active {
  font-weight: 500;
}

.navbar__burger {
  display: none;
  background-image: url(../../images/icon__burger.svg);
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 770px) {
  .navbar__account {
    display: none;
  }

  .navbar__movie {
    display: none;
  }

  .navbar__burger {
    display: block;
  }
}
