.register__container {
  width: 396px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 70px auto 0;
}

.register__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__content {
  width: 100%;
}

.register__title {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  text-align: left;
  margin: 40px 0 33px;
}

.register__field {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
  background-color: transparent;
  color: black;
  padding-bottom: 10px;
}

.register__field:focus-within {
  font-weight: 500;
  outline: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.register__field:invalid {
  color: #ff4062;
}

.register__subtitle {
  color: #a0a0a0;
  font-size: 10px;
  margin: 7px 0 5px;
}

.register__field_error {
  display: block;
  font-size: 10px;
  min-height: 12px;
  margin: 6px 0 0;
}

.register__field_error_active {
  color: #ff4062;
  padding: 0;
}

.register__field_error_server {
  display: block;
  color: #ff4062;
  padding: 0;
  margin: 100px 0 0;
  font-size: 10px;
  min-height: 12px;
}

.register__savebtn {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #000;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: 20px 0 16px;
}

.register__savebtn_disabled {
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8; 
  color: #AAA;
  pointer-events: none;
}

.register__text {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.register__text_link {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 430px) {
  .register__container {
    width: 260px;
    align-items: center;
  }

  .register__title {
    text-align: center;
    margin: 50px 0 72px;
  }

  .register__savebtn {
    font-size: 12px;
    margin: 122px 0 14px;
  }

  .register__text {
    font-size: 12px;
  }
}
