.login__container {
  width: 396px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 70px auto 0;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__content {
  width: 100%;
}

.login__title {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  text-align: left;
  margin: 40px 0 33px;
}

.login__field {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
  background-color: transparent;
  color: black;
  padding-bottom: 10px;
}

.login__field:focus-within {
  font-weight: 500;
  outline: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.login__field:invalid {
  color: #ff4062;
}

.login__subtitle {
  color: #a0a0a0;
  font-size: 10px;
  margin: 7px 0 5px;
}

.login__field_error {
  display: block;
  min-height: 12px;
  font-size: 10px;
  margin: 6px 0 0;
}

.login__field_error_active {
  color: #ff4062;
  margin: 6px 0 0;
  padding: 0;
}

.login__savebtn {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #000;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 16px;
}

.login__savebtn_disabled {
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  color: #aaa;
  pointer-events: none;
}

.login__text {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.login__text_link {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 430px) {
  .login__container {
    width: 260px;
    align-items: center;
  }

  .login__title {
    text-align: center;
    margin: 50px 0 73px;
  }

  .login__savebtn {
    font-size: 12px;
    margin: 10px 0 14px;
  }

  .login__text {
    font-size: 12px;
  }
}
